.hdiv1{
    background-size: auto;
    width: 73%;
    height:350px;
    border: 1px solid ;
    margin: auto;
    margin-top: 20px;
}

.img2{
    width: 95%;
}





.search{
    width: 73%;
    height: 50px;
    margin: auto;
    /* border: 1px solid red; */
    margin-top: 150px;
    background-color: white;
    border-radius: 50px;
}
.search :hover{
    cursor: "move";
}
.search_logo{
    
    height: 28px;
    margin-left: 12px;
    margin-top: 9px;
}
.search_input{
    font-size: 18px;
    color: rgb(88, 88, 88);
    margin-top: 12px;
    margin-left: 14px;
    
}
.div_flex{
    display: flex;
}
/* ways to nagput */
.way_nagpur{
  /* border: 1px solid red; */
    width: 73%;
    margin: auto;
    margin-top: 35px;
}
.ways_to1{
    width: auto;
    width: 30%;
    /* border: 1px solid green; */
    
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}
.book_this{
    text-align: left;
    margin-top: 6px;
    font-size: 14px;
}
.carousal{
    margin-left:-3.5%;
    color: blue; font-size: 30px;
    width: 107%;
    margin-top: -20px;
    
}
.c_text{
    font-size: 16px;
    font-weight: bolder;
}
.i_auto{
    margin: auto;
}
.ways_to2{
    width: auto;
    width: 35%;
    /* border: 1px solid green; */
    
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}
.margin_top{
    margin-top: 50px;
}